<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :end_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :picture_link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :picture_link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :key, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :key, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :key_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :key_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :venue_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :venue_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :published, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :published, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
